body{
  background-image: url(../images/ocean.jpg);
}
.posRel{
  position:relative;
}

.posAbs{
  position:absolute;
}
/*----------<header>---------------*/
#guessContainer{
text-align: center;
font-size: 3em;
}
#wordContainer{
text-align: center;
font-size: 4em;
opacity: 0.5;
}
/*----------<footer>---------------*/
#dynamicText{
  text-align: center;
}

#titleText{
  text-align:center;
}
#botLeft{
  bottom:0;
  left: 0;
  width: 20%;
  margin: 0 auto;
}
#botMid{
  bottom:0;
  width:60%;
  display:inline-block;
}
#botRight{
  bottom:0;
  right:0;
  width:20%;
  margin: 0 auto;
}
/*----------<footer>---------------*/
#alphaHolder{
  text-align: center;
}
